# MBS02116-TBABD-T10_T_BDD 17-24_0322

Nome da Equipe: Ana Paula Puddu, Fabio Monteiro, Lucas Sena, Marcos Soares, Wagner Fonseca

Banco de Dados Distribuídos_0433_Eq1
Biblioteca: Spark SQL

1)Descrever as principais funções da biblioteca foco do trabalho:

O Apache Spark é uma ferramenta utilizada para processamento de dados em larga escala e estende o modelo de programação MapReduce, muito utilizado por desenvolvedores que utilizam o Hadoop MapReduce. 

Esta ferramenta de Big Data surgiu por volta de 2009, na Universidade da Califórnia em Berkeley e tem como principal característica a computação cluster em memória, permitindo um processamento de dados muito mais ágil. Além disso, suporta várias linguagens de programação e permite análises mais avançadas.

O Apache Spark é uma ferramenta utilizada para processamento de dados em larga escala e estende o modelo de programação MapReduce, muito utilizado por desenvolvedores que utilizam o Hadoop MapReduce. Esta ferramenta de Big Data surgiu por volta de 2009, na Universidade da Califórnia em Berkeley e tem como principal característica a computação cluster em memória, permitindo um processamento de dados muito mais ágil. Além disso, suporta várias linguagens de programação e permite análises mais avançadas.

Dentre os diversos módulos do Apache Spark, há o Spark SQL, que permite o acesso a dados estruturados, utilizando a linguagem SQL ANSI. Além disso, o Spark SQL fornece algumas vantagens na sua aplicação:
    • Integração com fontes de dados;
    • Acesso unificado aos dados(distribuídos);
    • Padrão de conectividade (JDBC/ODBC) a fontes de dados;
    • Escalabilidade;
    • Otimização de performance do acesso aos dados;
    • Processamento em batch (hive tables).

O Spark SQL fornece dois conjuntos de funções para suprir as necessidades de manipulação dos dados: funções internas(pré-definidas) e funções definidas por usuários (UFD).
As funções internas do Spark SQL se dividem em dois grupos, conforme abaixo:
    • Funções escalares – para manipulação de matrizes, mapas, data/hora e JSON;
    • Funções do tipo Agregado – para agregação, agrupamento de dados e janelas(window).

2)Descrever os conceitos de RDD e DAG

O RDD (Resilient Distributed Dataset) é a estrutura fundamental do Spark. São, em resumo, coleções de dados distribuídos imutáveis (read only), de qualquer tipo. A palavra “Resiliente”, remete a tolerância a falhas, já que os dados estão armazenados em múltiplos nós.

A sequência de processamento é o que é chamado de DAG, sigla para Directed Acyclic Graph, ou Grafos acíclicos dirigidos. Em outras palavras, o DAG é uma sequência de execução do processo, e esse processo tem que ser direcionado, ou seja, obedecer a uma sequência de passos. E não pode ser cíclico, quer dizer, não pode ter recursividade ou interatividade entre as etapas de processamento.

3)Descrever os conceitos dos tipos de operações (transformações e ações)

É possível ter nos RDDs dois métodos de operações que são agrupados em blocos: Transformações e Ações.

Os blocos de transformações são os comandos executados para leitura e preparação dos dados. Essas operações não retornam um valor. Podem ser classificadas neste método os comandos de leitura, filtragem e mapeamento de atributos de um determinado RDD. Após cada um desses comandos, sempre será gerado um novo RDD, já com as transformações aplicadas. 

Já nos blocos de ações, os comandos executados retornam valores, gravam e executam todos os comandos compostos no DAG. Em outras palvras, quando uma função de ação é executada em um objeto RDD, todas as consultas são executadas e gera um valor retornado. Exemplos de comandos de ações são: count, reduce, take, collect, entre outros.

Segue tabelas com algumas das transformações e ações do Spark

TRANSFORMAÇÕES

map(func) Retorna um novo conjunto de dados distribuído formado passando cada elemento da fonte por meio de uma função func.

filter(func) Retornar um novo conjunto de dados formado pela filtragem dos elementos da fonte em que func retorna verdadeiro.

flatMap(func) Similar ao map, mas cada item de entrada pode ser mapeado para 0 ou mais itens de saída (então func  deve retornar um sequência ao invés de um único item).

join(outro Dataset,[numTasks])Quando executado em conjuntos de dados do tipo ( K, V) e (K, W), retorna um conjunto de dados com todos os pares de elementos para cada chave (K, (V, W)).

Outer Joins são suportados através leftOuterJoin, rightOuterJoin e fullOuterJoin.

reduceByKey(func[numTasks])Quando executado em um conjunto de dados de pares (k, V ), retorna um conjunto de dados de pares (K, V) onde os valores para cada chave são agregados usando a função de redução func, que deve ser do tipo (V, V) => V.

sortByKey([ascending],[numTasks])Quando executado em um conjunto de dados de pares (K, V), onde K implementa a ordenação, retorna um conjunto de dados de pares (K, V) ordenados pela chave

AÇÕES

collect() Retorna todos os elementos do conjunto de dados como uma matriz no driver do programa. Isto é geralmente útil depois de um filtro, ou outra operação que retorna uma pequeno subconjunto dos dados.

count() Retorna o número de elementos no conjunto de dados.

first() Retorna o primeiro elemento do conjunto de dados (similar ao take(1)).

take(n) Retorna um array com os primeiros n elementos do conjunto de dados.

saveAsTextFile(path) Grava os elementos do conjunto de dados como um arquivo de texto (ou conjunto de arquivos de texto ) em um determinado diretório no sistema de arquivos local,HDFS ou qualquer outro sistema de arquivos Hadoop - suportada. Spark vai chamar toString em cada elemento para convertê-lo para uma linha de texto no arquivo.

foreach(func) Executa uma função func em cada elemento do conjunto de dados. Isto é normalmente feito para efeitos secundários, tais como a atualização um acumulador ou interação com os sistemas de armazenamento externos.

4)Apresentar casos de uso da biblioteca

A biblioteca SPARK SQL é uma excelente alternativa para facilitar o acesso de um banco de dados distribuido para os principais agentes de uma organização. Tendo em vista a complexidade de se trabalhar com um banco de dados distribuido de volume extraordinário.
Com essa integração, diversos departamentos podem consultar informações valiosas dentro do banco de dados através de querys simples, além da possibilidade de criar views restritas que permitem que cada departamento tenha acesso somente ao que é de sua utilidade, aumentando a segurança dos dados e facilitando a analise e processamento das informações. 

Essa biblioteca seria de grande utilidade para departamentos comerciais de grandes corporações como AMBEV para acessar rapidamente qual o produto mais vendido no ultimo trimeste, tendo em vista o vasto leque de produtos comercializados e o tamanho do market share global da Ambev, essa pergunta simples poderia ter uma enorme complexidade para ser solucionada e com essa biblioteca, os profissionais conseguiriam consultar ao passo de poucas linhas de código na linguagem SQL. 

Há avanços reais na implementação dessa ferramenta em projetos da Administração Pública Federal, Programas como Bolsa Família geram um volume extraordinário de dados, tendo em vista o número de famílias que utilizam o programa e seu tempo de existência. Para problemas dessa natureza o SPARK SQL se apresenta como uma ótima ferramenta visto que entrega as vantagens de um banco de dados distribuidos com a otimização de consultas para acompanhamento eficiente da execução do peograma.

Em termos geral, essa biblioteca visa otimizar consultas a banco de dados de distribuidos.

5)Apresentar uma aplicação utilizando a ferramenta jupyter notebook da VM disponibilizada em aula

In [ ]:
import pandas as pd
df = pd.read_csv('/tmp/VMwareDnD/h1u9jA/stores_sales.csv', sep=',')

In [ ]:
df

In [ ]:
import findspark
findspark.init()
import pyspark.sql 
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SQLContext

In [19]:
sc = SparkContext.getOrCreate()

In [20]:
sqlContext = SQLContext(sc)

In [ ]:

sdf = sqlContext.createDataFrame(df)
sdf.printSchema()

In [ ]:
sdf.write.saveAsTable("sales")

In [26]:
sdf.registerTempTable("sales")

In [33]:
geral = sqlContext.sql("SELECT * FROM sales")
geral.show()

+-----+----+----------+------------+
|Store|Dept|      Date|Weekly_Sales|
+-----+----+----------+------------+
|    1|   1|05/02/2010|     24924.5|
|    1|   1|12/02/2010|    46039.49|
|    1|   1|19/02/2010|    41595.55|
|    1|   1|26/02/2010|    19403.54|
|    1|   1|05/03/2010|     21827.9|
|    1|   1|12/03/2010|    21043.39|
|    1|   1|19/03/2010|    22136.64|
|    1|   1|26/03/2010|    26229.21|
|    1|   1|02/04/2010|    57258.43|
|    1|   1|09/04/2010|    42960.91|
|    1|   1|16/04/2010|    17596.96|
|    1|   1|23/04/2010|    16145.35|
|    1|   1|30/04/2010|    16555.11|
|    1|   1|07/05/2010|    17413.94|
|    1|   1|14/05/2010|    18926.74|
|    1|   1|21/05/2010|    14773.04|
|    1|   1|28/05/2010|    15580.43|
|    1|   1|04/06/2010|    17558.09|
|    1|   1|11/06/2010|    16637.62|
|    1|   1|18/06/2010|    16216.27|
+-----+----+----------+------------+
only showing top 20 rows

In [38]:
venda_loja = sqlContext.sql('SELECT COUNT(1), store FROM sales GROUP BY store ORDER BY 1 desc')
venda_loja.show()

+--------+-----+
|count(1)|store|
+--------+-----+
|   10474|   13|
|   10315|   10|
|   10272|    4|
|   10244|    1|
|   10238|    2|
|   10228|   24|
|   10225|   27|
|   10224|   34|
|   10214|   20|
|   10211|    6|
|   10202|   32|
|   10148|   19|
|   10142|   31|
|   10113|   28|
|   10088|   41|
|   10062|   11|
|   10050|   23|
|   10040|   14|
|   10017|   40|
|    9901|   15|
+--------+-----+
only showing top 20 rows

In [40]:
dept = sqlContext.sql ('SELECT DISTINCT dept FROM sales')
dept.show()

+----+
|dept|
+----+
|  26|
|  29|
|  65|
|  19|
|  54|
|  22|
|   7|
|  77|
|  34|
|  94|
|  50|
|  32|
|  43|
|  31|
|  98|
|  39|
|  25|
|  95|
|  71|
|   6|
+----+
only showing top 20 rows

In [44]:
dept_loja = sqlContext.sql ('SELECT COUNT(1), dept FROM sales GROUP BY dept ORDER BY 1')
dept_loja.show()

+--------+----+
|count(1)|dept|
+--------+----+
|      12|  43|
|      16|  39|
|     143|  65|
|     150|  77|
|     235|  78|
|     646|  47|
|     862|  99|
|    1394|  51|
|    1562|  50|
|    1742|  48|
|    1936|  45|
|    2577|  37|
|    4119|  19|
|    4390|  58|
|    4482|  49|
|    4767|  54|
|    4854|  96|
|    5029|  18|
|    5291|  30|
|    5295|  36|
+--------+----+
only showing top 20 rows

In [53]:
media_loja = sqlContext.sql('SELECT store, ROUND(AVG(Weekly_Sales),2) AS MEDIA FROM sales GROUP BY store ORDER BY 2 DESC')
media_loja.show()

+-----+--------+
|store|   MEDIA|
+-----+--------+
|   20| 29508.3|
|    4|29161.21|
|   14|28784.85|
|   13|27355.14|
|    2|26898.07|
|   10| 26332.3|
|   27|24826.98|
|    6|21913.24|
|    1|21710.54|
|   39|21000.76|
|   19|20362.13|
|   23|19776.18|
|   31|19681.91|
|   11|19276.76|
|   24|18969.11|
|   28|18714.89|
|   41| 17976.0|
|   32|16351.62|
|   18|15733.31|
|   22|15181.22|
+-----+--------+
only showing top 20 rows

6)Referencias Consultadas:

ADOBE. Adobe Experience League, 2022. Spark Funções SQL. Disponível em: https://experienceleague.adobe.com/docs/experience-platform/query/sql/spark-sql-functions.html?lang=pt-BR. Acesso em 15/04/2022.

APACHE SPARK. Apache Spark, 2018. Spark SQL, Built-in Functions. Disponível em: https://spark.apache.org/docs/latest/api/sql/index.html. Acesso em 16/04/2022. 

DAMJI, J. et al. Learning Spark: Lightning-Fast Data Analytics. California: O’Reilly Media, 2020.

DEVMEDIA. Devmedia, 2022. Introdução ao Apache Spark. Disponível em: https://www.devmedia.com.br/introducao-ao-apache-spark/34178. Acesso em 13/04/2022.

DEVMEDIA. Devmedia, 2022. Apache Spark: Trabalhando com SQL em aplicações Big Data. Disponível em: https://www.devmedia.com.br/apache-spark-trabalhando-com-sql-em-aplicacoes-big-data/34251. Acesso em 15/04/2022.